/* nunito-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v25-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    url("../fonts/nunito-v25-latin-ext_latin_cyrillic-ext_cyrillic-700.woff")
      format("woff");
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-ext_latin-regular.woff2") format("woff2"),
    url("../fonts/dm-sans-v11-latin-ext_latin-regular.woff") format("woff");
}
/* dm-sans-500 - latin-ext_latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v11-latin-ext_latin-500.woff2") format("woff2"),
    url("../fonts/dm-sans-v11-latin-ext_latin-500.woff") format("woff");
}
